:root {
    box-sizing: border-box;
    margin: 0;
}

/* body styling */
body {
    font-family: "Outfit", sans-serif;
    color: #FFF;
    font-size: 18px;
    background: #07154E url("../images/bg circles.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

/* heading styling */

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

/* section top, small text above header, styling */
.section-top {
    color: #AAD9D9;
    text-align: center;
    /* SUB HEADER */
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

/* navigation style, including logo and menu items */
.wrapper {
    max-width: 1065px;
    margin: 0 auto;
}

.nav-container {
    width: 1065px;
    height: 72px;
    margin-top: 129px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav .logo {
    color: #FFF;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 137.5% */
    text-transform: uppercase;
}

nav ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 65px;
}

.menu li:nth-last-of-type(1) {
    margin: 0;
}

.menu li a {
    color: #FFF;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
    text-transform: lowercase;
    text-decoration: none;
}

/* hero styling */

.hero {
    width: 1065px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    max-width: 360px;
    margin: 32px 0;
}

.hero p {
    max-width: 355px;
    margin-bottom: 70px;
}

.hero .hero-text {
    flex: 1;
}

.hero .hero-text a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
}

.hero .hero-text .buy {
    background: #8E8EDB;
    margin-right: 15px;
}



.hero .hero-text .sell {
    border: 1px solid #A3D6D7;
}

/* featured section styling */
.featured {
    margin-top: 88px;
}

.featured h2 {
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured .image-container {
    border-radius: 7px;
    background: rgba(62, 51, 134, 0.46);
    text-align: center;
    width: 1064px;
    height: 100px;
}

.featured img {
    margin: auto;
    padding-right: 60px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
}


.featured img:nth-last-of-type(1) {
    padding-right: 0px;
}

/* about styling */

#about {
    margin-top: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about img {
    width: 507px;
}

#about h2 {
    margin-top: 21px;
    width: 526px;
}

#about .sub-text {
    margin-top: 21px;
    width: 435px;
    margin-bottom: 44px;
}

#about a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
    background: #8E8EDB;
}

/* app styling */
#app {
    margin-top: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1065px;
}

#app img {
    width: 491px;
}

#app h2 {
    margin-top: 21px;
    width: 538px;
}

#app .sub-text {
    margin-top: 25px;
    width: 435px;
    margin-bottom: 50px;
}

#app a {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 255px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 83px;
    text-decoration: none;
    padding: 23px 74px;
    background: #8E8EDB;
}

/* testimonials section styling */
.testimonials-header {
    text-align: center;
    width: 494px;
    margin: 92px auto;
}

.testimonials-header h2 {
    margin-top: 8px;
}

.testimonial-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1065px;
    margin-top: 121px;
}

.testimonial {
    text-align: center;
    border-radius: 20px;
    background: #212268;
    width: 345px;
    height: 233px;
}

.testimonial h3 {
    font-family: Outfit, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: -50px;
}
.testimonial img {
    position: relative;
    top: -68px;
    mix-blend-mode: luminosity;
}

.testimonial p {
    font-size: 16px;
    width: 290px;
    position: relative;
    top: -30px;
    margin: auto;
}

/* are you ready styling */
.ready {
    border-radius: 30px;
    background: linear-gradient(105deg, #96D4D5 0.69%, #9291DC 55.1%);
    width: 1065px;
    height: 416px;
    flex-shrink: 0;
    margin: 91px auto;
    text-align: center;
}

.ready h2 {
    font-family: "Outfit", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 55px;
}

.ready p {
    font-family: "Outfit", sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 100%; /* 58px */
    text-transform: capitalize;
    padding-top: 43px;
    padding-bottom: 66px;
    width: 444px;
    margin: auto;
}

.ready a {
    font-family: "Outfit", sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px; /* 137.5% */
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 23px 80px;
    border-radius: 83px;
    background: #000;
    text-decoration: none;
}

/* footer styling */
footer {
    width: 1065px;
    margin: auto;
}

footer .footer {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

footer .footer .footer-links {
    min-width: 180px;
}

footer .footer-logo {
    font-family: Outfit, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 180px;
}

footer h2 {
    font-family: Outfit, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 19px;
}

footer .newsletter-form h2 {
    font-size: 22px;
    text-transform: lowercase;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
}

/* newsletter email styling */
form {
    display: flex;
}
.newsletter-form input[type=email] {
    width: 340px;
    height: 44px;
    border-radius: 70px;
    background: #212268;
    border: 0px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px; /* 193.75% */
    padding-left: 22px;
}

.newsletter-form input[type=submit] {
    display: flex;
    width: 138px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 83px;
    background: #8E8EDB;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 27.5px; /* 183.333% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 0px;
    position: relative;
    left: -138px;
}
.newsletter-form input[type=submit]:hover {
    font-size: 17px;
    color: #000;
    transition: 500ms;
}

/* decorative styling */
.decorative-line {
    width: 100%;
    height: 12px;
    margin-top: 54px;
    background: linear-gradient(283deg, #95D4D5 -28.18%, #6565E2 98.61%);
}
