:root {
    --background-color: #2c2668;
    --base-link-color: #ffffff;
    --primary-color: #8C8BDA; 
    --secondary-color: #e9e; 
    --acent-color: #555;
    --testimonial-color1: rgba(178, 162, 222, 1);
    --tesimonial-color2: rgba(223, 196, 133, 1);

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Outfit', sans-serif;

    --base-font-size: 1rem;
    --h1-font-size: 4rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
}

body {
    background: var(--background-color);
    color: white; 
    font: var(--base-font-size) / 1.6 var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    text-transform: capitalize;
}

a {
    font-family: var(--font-primary);
    color: var(--base-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}